# proxysql admin interface credentials.
export PROXYSQL_DATADIR='/var/lib/proxysql'
export PROXYSQL_USERNAME='admin'
export PROXYSQL_PASSWORD='admin'
export PROXYSQL_HOSTNAME='localhost'
export PROXYSQL_PORT='6032'

# PXC admin credentials for connecting to pxc-cluster-node.
export CLUSTER_USERNAME='dba'
export CLUSTER_PASSWORD='test'
export CLUSTER_HOSTNAME='192.168.4.22'
export CLUSTER_PORT='3306'

# proxysql monitoring user. proxysql admin script will create this user in pxc to monitor pxc-nodes.
export MONITOR_USERNAME='monitor'
export MONITOR_PASSWORD='monitor'

# Application user to connect to pxc-node through proxysql
export CLUSTER_APP_USERNAME='app_test2'
export CLUSTER_APP_PASSWORD='test'

# ProxySQL hostgroup IDs
export WRITER_HOSTGROUP_ID='200'
export READER_HOSTGROUP_ID='201'
export BACKUP_WRITER_HOSTGROUP_ID='202'
export OFFLINE_HOSTGROUP_ID='9200'

# ProxySQL read/write configuration mode.
export MODE="singlewrite"

# max_connections default (used only when INSERTing a new mysql_servers entry)
export MAX_CONNECTIONS="10000"

# Determines the maximum number of writesets a node can have queued
# before the node is SHUNNED to avoid stale reads.
export MAX_TRANSACTIONS_BEHIND=10

# Connections to the backend servers (from ProxySQL) will use SSL
export USE_SSL="no"

# Determines if a node should be added to the reader hostgroup if it has
# been promoted to the writer hostgroup.
# If set to 'yes', then all writers (including backup-writers) are added to
# the read hostgroup.
# If set to 'no', then none of the writers (including backup-writers) are added.
# If set to 'backup', then only the backup-writers will be added to
# the read hostgroup.
export WRITERS_ARE_READERS="backup"

export PXC_AUTODISCOVERY=1

export DEBUG=0
export ERR_FILE=/var/lib/proxysql/pxc_test_proxysql_galera_check.log